[Unit]
Description=Notify within podman

[Install]
WantedBy=multi-user.target

[Service]
Type=notify

TimeoutStartSec=20s

Environment=NOTIFY_SOCKET=/run/systemd/notify
NotifyAccess=all  # Allow subprocesses to notify

# Otherwise we just get docker/podman
SyslogIdentifier=notify-test

ExecStart=/usr/bin/podman run --name="notify-test" --rm \
  -v /run/systemd/notify:/run/systemd/notify:ro \
  -v /usr/bin/systemd-notify:/usr/bin/systemd-notify:ro \
  -e "NOTIFY_SOCKET" \
  notify-test
ExecStop=/usr/bin/podman stop notify-test
